* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}
header section div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-principal > li {
  list-style: none;
  display: inline;
  margin: 0rem 1rem;
  font-family: futura-pt, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
}
.menu-principal {
  margin-left: 1.8rem;
}
a {
  text-decoration: none;
  color: black;
}
section > img {
  width: 100%;
  position: relative;
}
section > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
}
